<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.ldgd.videoediting">


    <!-- 视屏编辑器 ，给陈泉用于框选视屏区域和配置视屏配置文件到Fip文件服务器 -->
    <application
        android:allowBackup="true"
        android:name=".appliction.MyApplication"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".act.MainVideoActivity">

        </activity>

        <activity android:name=".act.VideoPlayerActivity" android:screenOrientation="landscape"></activity>

        <!-- NFC 模块界面 -->
        <activity
            android:name="example.ldgd.com.checknfc.generic.MainNfcActivity"
            android:label="@string/app_name"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/STAppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
                <data android:scheme="http" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TAG_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />
                <data android:mimeType="application/vnd.wfa.wsc" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/filter_nfc" />
        </activity>

        <activity
            android:name="example.ldgd.com.checknfc.generic.ST25DVActivity"
            android:label="ST25DVActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/STAppTheme.NoActionBar" />

        <activity
            android:name="example.ldgd.com.checknfc.generic.WriteFragmentActivity"
            android:label="WriteFragmentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/STAppTheme.NoActionBar" />
        <activity
            android:name="example.ldgd.com.checknfc.generic.STFragmentActivity"
            android:label="WriteFragmentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/STAppTheme.NoActionBar" />


        <activity
            android:name="example.ldgd.com.checknfc.generic.ReadFragmentActivity"
            android:label="WriteFragmentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/STAppTheme.NoActionBar" />
        <activity
            android:name="example.ldgd.com.checknfc.generic.NDEFActivity"
            android:label="WriteFragmentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/STAppTheme.NoActionBar" />
        <activity
            android:name="example.ldgd.com.checknfc.generic.DumpMemoryFragmentActivity"
            android:label="WriteFragmentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/STAppTheme.NoActionBar" />
        <activity
            android:name="example.ldgd.com.checknfc.fragment.FillMemoryFragmentActivity"
            android:label="WriteFragmentActivity"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/STAppTheme.NoActionBar" />

        <service android:name="com.xmic.tvonvif.finder.CameraService" />

    </application>


    <uses-permission android:name="android.permission.CHANGE_WIFI_MULTICAST_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <!-- NFC权限-->
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
     <uses-permission android:name="android.permission.READ_CONTACTS" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    //测试android 数据采集器使用
    <uses-feature android:name="android.hardware.nfc" android:required="true" />
    <uses-feature android:name="android.hardware.bluetooth_le" android:required="true" />
    <uses-feature android:name="android.bluetooth.le" android:required="true" />




</manifest>